.modal .modal-body {
  overflow-y: auto;
}
#toolbar {
  padding-top: 20px;
  padding-bottom: 20px;
}
#tree-wrapper {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn {
  text-decoration: none !important;
}
.btn:focus {
  outline: 0;
}
.light {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 6px;
  margin-right: 6px;
}
button > .fa-square-o {
  margin: 1.5px 1.5px;
}
button > .fa-square {
  margin: 1.5px 0.5px;
}
